@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #462e33;
    font-family: 'Press Start 2P', cursive;
}

#game {
    position: relative;
    width: 50%;
    height: 50vh;
    background-image: url(bg.jpg);
    background-size: 200%;
    overflow: hidden;
}

.game-move {
    animation: bg-move 10s linear infinite;
}

#hero {
    background-image: url(stop.gif);
    width: 100px;
    height: 140px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -15px;
    left: 20px;
    
}

.hero-move {
    animation: up .75s linear infinite;
}

#cactus {
    background-image: url(cactus.png);
    width: 58px;
    height: 70px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 105%;
}

#cactus2 {
    background-image: url(cactus2.png);
    width: 75px;
    height: 90px;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -6px;
    left: 105%;
}

.cactus-move {
    animation: move 2s linear infinite;
}

.cactus-move-2 {
    animation: move-2 4s linear infinite;
}

#game .btn {
    background: pink;
    padding: 15px 20px;
    cursor: pointer;
}

.start {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btns {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.btns .btn {
    margin: 0 5px;
}

.reply, .skor {
    display: none;
}


@keyframes move {
    0% {
        left: 105%;
    }
    100% {
        left: -10%;
    }
}

@keyframes move-2 {
    0% {
        left: 155%;
    }
    100% {
        left: -75%;
    }
}


@keyframes up {
    0% {
        bottom: -15px;
    }
    50% {
        bottom: 150px;
    }
    100% {
        bottom: -15px;
    }
}

@keyframes bg-move {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 200% 0px;
    }
}

@media only screen and (max-width: 800px) {
    #game {
        width: 95%;
        height: 95vh;
    }
  }